*{
    font-size: 20px;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.left{
    /* background-color: antiquewhite; */
    padding:20px;
    box-sizing: border-box;
    width: 50%;
    float:left;
    overflow:auto;
}

.img{
    width:90%;
    height:100%;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.right{
    /* background-color:aquamarine; */
    padding:20px;
    box-sizing: border-box;
    width: 50%;
    float:right;
}
.box,.imgid,.score,.button2{
    margin-top: 30px;
    margin-left: 50px;
}
.ordinary,.unfit,.next{
    margin-left: 20px;
}

